name: Pylint Quality Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    uses: Dkydgp/.github/.github/workflows/pylint.yml@main
    with:
      min_score: '8.0'
